html {
    scroll-behavior: smooth; /* Smooth scrolling */
    scroll-padding: 6rem;  /* Space from top when scrolling to a section */
    /*  scroll-padding: --var(scroll-padding, 5rem);    /* Using CSS+JS */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e0f7fa;
}

/* Navbar */
    /* Sticky Navbar */
.Nav{
    position: sticky;
    top: 0;
    backdrop-filter: blur(45px);
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 0.8rem;
    font-size: 0.94rem;
    color: white;
    padding-left: 2.68rem;
}

    /* Navbar links */
.navbar a {
    margin-right: 2.68rem;
    font-size: 1.07rem;
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
}

    /* Navbar link hover effect */
.navbar a:hover, .navbar a:active {
    color: turquoise;
    border-bottom: 3px solid turquoise;
}


/* Main Section */
.Home {
    padding: 1rem 2rem 2rem 2rem;
    background: linear-gradient(to top, rgba(0, 255, 255, 0.33), transparent 60%);
}

.title{
    margin-top: 2rem;
}

.title h1{
    text-align: center;
    font-size: 880%; /* 12rem */
    font-weight: 800;
    letter-spacing: 8%;
    line-height: 1;
    /* background-image: linear-gradient(rgb(122,122,122),rgb(252,252,252)); */
    background-image: linear-gradient(rgb(0, 0, 0),#e0f7fa 110%);
    color: transparent;
    background-clip: text;
    margin-bottom: 0rem;
}

.hero {
    text-align: center;
    /* padding-top: 40px; */
}
.hero h1 {
    font-size: 3.2rem; /* 2.68rem */
    font-family: 'Calibri';
    font-weight: 600;
}
.hero p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: -1.5rem;
}

    /* Button Try-it-Now */
.button-center {
    text-align: center;
    margin-top: 13.4px;
    padding: 1.34rem;
}

.btn{
    font-family: 'Calibri';
    font-size: 0.87rem;
    font-weight: 800;
    margin-top: 0.54rem;
    padding: 0.54rem 6.7rem;
    /* padding: 0px 20px; Horizontal padding */
    /* background-color: rgba(124, 234, 234, 0.1); */
    color: #76b0ab;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn:hover{
    background-color: #cbcfff;
    font-size: 1rem;
    color: black;
    box-shadow: 0px 4px 5.4px aqua;
}

    /* Style for button */
    /* button { */
        /* padding: 0px 20px; Horizontal padding */
        /* height: 50px; Fixed height */
        /* border: 4px solid aqua; Aqua border */
        /* border-radius: 10px; Rounded corners */
        /* box-shadow: 0 4px 8px rgba(0, 0,256); Subtle shadow */
    /* } */

    /* Scroll Bar Animation */
.scroll-bar{
    height: 8rem;
    width: 3.35rem;
    position: absolute;
    justify-self: center;
    top: 88%;
    border-radius: 80px;
    cursor: grab;
    z-index: 0;
    /* box-shadow: 0 0 10px #e0f7fa; */
}
.scroll-bar:hover{
    transition: 1s;
    /* box-shadow: 0 0 10px aqua; */
    transform: translateY(6.7px);
}

    /* Scroll Arrow Animation */
.scroll-bar::before,
.scroll-bar::after{
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 20px;
    width: 20px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 8px solid black;
    border-radius: 3px;
    border-top: transparent;
    border-left: transparent;
    animation: scroll 2s ease-in-out infinite;
}

.scroll-bar::before{
    top: 20%;
    animation-delay: 1s;
}

@keyframes scroll{
    0%{    
        opacity: 0;
    }
    30%,60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}


/* Section Titles */
#pro-title, #cont-title, #pro-members {
    font-size: 5.4rem;
    /* font-weight: 600; */
    font-family: 'Calibri';
    letter-spacing: 0.68px;
    margin-bottom: 1.36rem;
    background: transparent;
    text-align: center;
}


/* Project Overview Section */
.Project {
    padding-top: 3rem;
    background: linear-gradient(to bottom, rgba(0, 255, 255, 0.33), transparent 90%);
}

.container {
    /* max-width: 800px; Limit container width */
    margin: 1.36rem;
    /* margin-bottom: 1rem; */
}
    /* Headings */
.container h3 {
    font-size: 2.35rem;
    margin-top: 1.36rem;
    margin-bottom: 0.68rem;
    padding-left: 5%;
    padding-right: 5%;
}

    /* Paragraphs */
.container p {
    font-size: 1.36rem;
    font-weight: 600;
    font-family: 'Calibri';
    line-height: 1.6;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: -4%;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 0.87rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.68rem;
    background: #cbcfff;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: aqua;
}

::-webkit-scrollbar-track {
    background: #f9f9f9;
}

    /* Slider Section */
.box-container {
    max-width: 84.6rem;
    padding: 0 0.68rem;
    margin: 0 auto;
}

#box {
    padding: 2.68rem 0;
}

    /* Slider Container Styling */
#box .slider {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 34.8rem;
    padding: 1.36rem 0;
    position: relative;
}

    /* Individual Slide Styling */
.slide {
    width: 24rem;
    height: 28rem;
    position: relative;
}

    /* Slide Content Styling */
.slide .slide-content {
    border: 10px solid aqua;    /* Aqua border */
    border-radius: 1.36rem;
    background-color: #cbcfff;  /* Slide background color */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

    /* Slide Headings */
.slide-content h3 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2.14rem;
    padding-top: 1.36rem;
    color: white;
}

    /* Slide Text */
.text {
    margin-top: 0.68rem;
    text-align: left;
    padding-left: 12%;
    padding-right: 12%;
    line-height: 1.6;
    font-size: 1.4rem;
}

    /* Positioning Slide Content */
.slide-content {
    position: absolute;
    bottom: 1.36rem;
    left: 1.36rem;
    color: black;
}

/*  Hide Shadows 
.swiper-slide-shadow-left,
.swiper-slide-shadow-right { 
    display: none;
} */

    /* Slider Controls */
.slider-control {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* Positioning Next Button */
.slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

@media (max-width:990px) {
    .slider-control .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width:450px) {
    .slider-control .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

    /* Positioning Prev Button */
@media (max-width:990px) {
    .slider-control .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width:450px) {
    .slider-control .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

    /* Slider Arrows */
.slider-control .slider-arrow {
    background: white;
    width: 2.35rem;
    height: 2.35rem;
    border: aqua 5px solid; /* Aqua border */
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    /* filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1)); */
}

.slider-control .slider-arrow ion-icon {
    font-size: 1.36rem;
    color: black;   /* Arrow color */
    font-weight: 500;
}

.slider-control .slider-arrow::after {
    content: '';
}

.slider-control .swiper-pagination {
    position: relative;
    width: 10rem;
    bottom: 0.68rem;
}

.swiper-pagination{
    position: relative;
    margin-top: 1.6rem; /* Adjust margin to move pagination down */
}

.slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(44, 18, 53, 0.1)); /* Shadow effecs of points in B/w btn */
}

.slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: aqua;   /* Active bullet color */
}


/* Project Members Section */
.ProjectMembers {
    padding: 2rem;
    padding-bottom: 0rem;
}

    /* Title Styling */
.projectmembers-title {
    margin-bottom: 3.35rem;
}

    /* Project Container Grid Styling */
.project-container{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(43.8rem, 1fr));    /* Responsive columns */
    gap: 5rem 1rem;  /* Gap between cards */
    justify-content: center;    /* Center the grid */
    justify-items: center;  /* Center items within grid cells */
}

.card-section{
  /* margin: 5rem; */
  /* height: 25rem;  Set a fixed height   */
  width: 40rem; /* Set a fixed width */
  /* overflow: hidden; */
  background-color:#4ad0ee2b;
  backdrop-filter: blur(10px);
  border-radius: 34px;
  box-shadow: 5px 5px 20px 1px #4acfee;
}

    /* Card Styling */
.card{
  align-items: center;
  display: flex;
  height: 14.7rem;
  padding: 2rem;
  color: black;
  justify-content: stretch;
  overflow: hidden;
}

    /* Heading inside card */
.card h1{
  font-size: 2.68rem;
  font-family: "Calibri";
  margin-bottom: 0.68rem;
}

    /* Paragraph inside card */
.card p{
  max-width: 20rem;
  margin-top: 0.68rem;
  margin-bottom: 0.68rem;
  font-size: 1.2rem;
}

    /* Unordered List Styling */
ul{
  padding: 0;
  margin: 0;
  margin-bottom: 0.68rem;
}

    /* Social Media Icons Styling */
.ul-icons{
  display: flex;
  align-items: center;
}

    /* List Items Styling */
.ul-icons li{
  list-style: none;
  margin-right: 0.54rem;
}

.ul-icons a{
  display: inline-flex; 
  padding: 5.4px; /* Padding inside the icon */
  border: 3px solid #4acfee;
  border-radius: 50%;
  font-size: 1.8rem; /* Icon size */
  align-self: center;
  color: #4acfee;
  text-decoration: none;
  transition: 0.3s;
}

.ul-icons a:hover{
  background: #4acfee;
  color: #0e1217;
  box-shadow: 0 0 10px #4acfee;
}

    /* Card Image Circle Styling */
.card-img{
  width: 200px;
  height: 200px;
  background-color: transparent;
  position: absolute;
  right: 6.8%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px #4eddfd;
  transition: 0.5s;
}

.card-img:hover{
  box-shadow: 0 0 80px #4acfee; 
  transform: scale(1.1);  /* Enlarge the image */
}

    /* Image inside card-img */
.card-img img{
  position: absolute;
  width: 85%;
  mix-blend-mode: lighten;
}

    /* Manav Image Adjustment */
#manav-img{
    top: 8%;
    justify-content: center;
}

    /* Mit Image Adjustment */
#mit-img{
    top: 12%;
    justify-content: center;
}

/* Contact Us Section */
.Contact {
    padding: 2rem;
}

    /* Styling Border of Title */
/* .contact-title{
    justify-self: center;
    width: 80%;
    font-weight: bolder;
    border-radius: 50%;
    border-bottom: 10px solid turquoise;
}

#cont-title{
    margin-bottom: 1.6rem;
} */

.contact-left{
    flex-basis: 34%;
    padding-left: 5%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left h2{
    font-family: 'calibri';
    font-size: 3rem;
}
.contact-left p{
    font-family: 'calibri';
    font-size: 1.5rem;
}
.contact-right h2{
    font-family: 'calibri';
    font-size: 3rem;
}
.contact-right form{
    width: 90%;
}

    /* Input Fields */
form input{
    width: 100%;
    border: 0;
    outline: none;
    background: #afeeee;
    padding: 1rem;
    /* margin: 1rem 0rem; */
    margin-bottom: 2rem;
    color: black;
    font-size: 1.2rem;
    border-radius: 0.38rem;
}

    /* Textarea Field */
form textarea{
    width: 100%;
    border: 0;
    /* border: 2px solid; */
    outline: none;
    background: #afeeee;
    padding: 1rem;
    /* margin: 1rem 0rem; */
    margin-bottom: 1rem;
    color: black;
    font-size: 1.3rem;
    border-radius: 0.38rem;
}

    /* Flexbox for Textarea */
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    /* Submit Button */
.s-btn{
    position: absolute;
    left: 60%;
    margin-top: 0.5rem;
    padding: 0.8rem 4rem;
    font-family: 'Calibri';
    font-size: 1.3rem;
    font-weight: 800;
    background-color: #0e1217;
    color: #afeeee;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease;
}

.s-btn:hover{
    background-color: #cbcfff;
    font-size: 1.35rem;
    color: black;
    box-shadow: 0px 4px 6px #afeeee;
}


/* Center headings */
.center {
    text-align: center;
    margin-top: 1.2rem;
}

/* Footer */
footer {
    margin-top: 2.8rem;
    padding: 0.8rem;
    font-weight: 600;
    text-align: center;
    background: black;
    color: white;
}
